/* Joy Like Sunshine font */
@font-face { font-family: "Joy Like Sunshine"; src: url('joy_like_sunshine.ttf'); }

/* Core styles */

body{
	background: #007878;
	font-family: Oxygen, sans-serif;
	margin: 0;
}

#content{
	width: 900px;
	margin: 0 auto;
	background: white;
	padding: 0 20px;
}

h1 {
	margin: 0;
	padding: 10px;
	font-family: "Joy Like Sunshine", Oxygen, sans-serif;
	text-align: center;
	font-size: 45px;
	color: #007878;
}

/* Flowers on the sides */

.flower{
	position: fixed;
	top: 200px;
}
#flower-left{
	left: 43px;
}
#flower-right{
	right: 43px;
}

/* Hearts and R_Gs */

#image-bar{
	padding-left: 21px;
	background-color: #EEE;
	height: 100px;
}

#image-bar img {
	margin-left: 26px;
	margin-right: 26px;
	vertical-align: top;
}

#image-bar img.heart{
	margin-top: 4px;
	width: 104px;
	height: 94px;
}

#image-bar img.g_r{
	margin-top: -3px;
	width: 122px;
	height: 110px;
}

/* Don't show the flowers on screens that don't have room */

@media only screen 
and (max-width : 1200px) {
  .flower{
	display: none;
  }
}
